<div class="row">
  <div class="col-12">
    <% flash.each do |key, value| %>
      <% if %w(danger info primary default alert notice error).include?(key.to_s) %>
        <div class="alert alert-primary">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
